.back{
    background-image: url("../../../public/delighted-young-woman-carries-pile-textbooks-smiles-broadly-learns-useful-information-from-encyclopedia-has-dark-hair.jpg");
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;
    text-align: center;
}
.back h1{
    font-size: 100px;
    font-weight: 400;
}
.back h2{
    font-weight: 500;
    font-size: 17px;
    text-transform: uppercase;
}
.margin{
    margin-top: 40.3%;
}