.testimonial .items{
    padding: 30px;
    transition: 0.5s;
}
.testimonial .img{
    position: relative;
    
}
.testimonial img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;

}
.testimonial i{
    position: absolute;
    bottom: 0;
    left: 60px;
    background-color: #FF773D;
    color: #fff;
}
.testimonial .shadow{
    box-shadow: 0 5px 25px -2px rgba(0 0 0 /6%);
    background-color: #fff;
    padding: 30px 20px;
    
    transition: 0.5s;
}
.testimonial .name{
    margin: 25px;
}
.testimonial .name h2{
    font-size: 20px;
    margin-bottom: 5px;
   
}
.testimonial .name span{
    font-size: 15px;
    color: #FF773D;
}
.testimonial p{
    font-size: 15px;
    color: gray;
    margin-top: 20px;
    transition: 0.5s;
}
.testimonial .items:hover{
    background-color: #FF773D;
    color: #fff;
    cursor: pointer;
}
.testimonial .items:hover span,
.testimonial .items:hover p
{
    color: #fff;
}

.testimonial .items:hover i{
    background-color: #fff;
    color: #FF773D;
}
