.containerInfo{
    margin-top: 70px;
    margin-bottom: 70px;
}



.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center the items horizontally */
    gap: 20px; /* Add space between items */
  }
  
  .boxInfo {
    background-color: #FFF6F3;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 5px 25px -2px rgba(0, 0, 0, 0.6%);
  }
  
  .img {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img img {
    width: 100px;
    height: 120px;
    margin-bottom: 10px; /* Add space between image and text */
  }
  
  .img h3 {
    font-size: 14px;
    font-weight: 600;
    color: gray;
    text-align: center;
  }
  .img h2{
    
    font-weight: 600;
    color: gray;
    text-align: center;
  }
  