
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F8F8F8;
    margin: 0;
}


/* tailwind.css */
















@media screen and (max-width: 48rem) {
    .grid {
        grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    .back {
        background-position: center;
        padding-top: 50%;
        height: 80vh;
    }

    .margin {
        margin-top: 85%;
    }
}

@media screen and (max-width: 90rem) {
    .grid {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }
}
@media screen and (max-width:768px){
    .hero{
        background-position: center;
        padding-top: 50%;
        height: 80vh;
    }
}

@media screen and (max-width:375px){
    .hero{
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 15%;
        padding-right: 50px; /* I've removed this line because padding-right seems unnecessary */
        height: 80vh;
    }
}