.hero{
    background-image: url("../../../public/happy-young-woman-sitting-floor-using-laptop-gray-wall.jpg");
    background-size: cover;
  background-attachment: fixed;
    height: 100vh;
    width: 100%;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    padding-top: 20%;
    padding-right: 50px;
    color: #fff;

}
.hero #heading h3{
    text-align: left;
    max-width: 0;
    padding: 0;

}
.row{
    width: 100%;
}
button{
    padding: 17px 30px;
    background-color: #fff;
    color: #1eb2a6;
    font-weight: 600;
    border: none;
    margin: 30px 10px 0 0;
    border-radius: 3px;
    cursor: pointer;
    box-shadow: 0 24px 36px -11px rgba(0 0 0 /9% );
}
button li{
    margin-left: 20px;

}
button:hover{
    box-shadow: none;
}
.primary-btn{
    background-color: #FF773D;
    color: #fff;
}
#heading{
   
    text-align: center;
    padding: 40px 0;

}
#heading h2{
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: uppercase;
    color: rgba(241, 193, 104);
   
}
#heading h1{
    font-size: 45px;
    margin: 20px 0;
    text-transform: capitalize;
    color: #FF773D;
}
p{
    line-height: 30px;
    font-size: 18px;
}
.margin{
    margin-top: 40.3%;
}
@media screen and (max-width:768px){
    .margin{
        height: 40vh;
    }
    .hero{
        background-position: center;
        padding-top: 50%;
        height: 80vh;
    }
    .hero .row{
        width: 100%;
    }
 }
