.contact{
  margin-top: 50px;
  height:auto;
  margin-left: 100px;
  

}

 .container .left img{
    
    width: 50%;
    object-fit: cover;
    margin-right: 50px;
   
}
/* Add your CSS rules here */

  
  form {
    margin-top: 70px;
    width: 80%;
    max-width: 400px;
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #FFF6F3;

  ;
  }
  
  input[type="text"],
  textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensure padding and border are included in width */
  }
  
  textarea {
    height: 150px; /* Adjust the height as needed */
  }
  
  button[type="submit"] {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color:rgba(241, 193, 104) ;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button[type="submit"]:hover {
    background-color: #FF773D; /* Darker shade of the primary color on hover */
  }
  
  /* Add any additional styling as needed */


  @media only screen and (max-width: 768px) {
    .right form {
      width: 75%;
    
    }
    .container1{
      flex-direction: column;
     }
  }
 

  @media only screen and (max-width: 375px) {
    .right form{
      width: 70%;
    }
    .container1{
      flex-direction: column;
     }
     .container img{
      width: 50%;
      
     }
  
  }
 